.CodeMirror {
    min-height: 60%;
    max-width: 80%;
}

#flexbox-compileout-video {
    display: flex;
    flex-direction: row;
}

#compile-output-textarea {
    height: 360px;
    width: 640px;
    margin-top: 0.5em;
    resize: none;
}

.compile-output-error {
    color: red;
}

.compile-output-noerror {
    color: black;
}

#flash-output-textarea {
    height: 140px;
    width: 640px;
    margin-top: 0.5em;
    resize: none;
}

.label-description {
    font: 18px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    font-weight: bold;
    align-content: center;
}

.filename-input {
    width: 9em;
    height: 1.5em;
}

#video-div {
    margin-left: 5em;
}

.video-class, .filename-input, #compile-output-textarea, #flash-output-textarea {
    border-radius: 4px;
    border: 2px solid #4b0202;
}

.conditional-div-text {
    font: 25px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    font-weight: bold;
}

.button-home {
    background-color: rgb(138, 15, 15);
    border-radius: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    width: 100px;
    height: 40px;
    padding: 5px 20px;
}

.button-home:hover {
    background-color: rgb(105, 10, 10);
}
.filename-div{
    background-color: rgb(51, 46, 46);
    color: white;
    width: 40em;
    height: 30px;
}